* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
  word-break: break-word;
}

main {
  margin: 0 auto;
  max-width: 1450px;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.text {
  margin-bottom: 20px;
}

.text p {
  margin-bottom: 20px;
}

.image {
  max-width: 100%;
  margin-bottom: 20px;
}

/* grid fyrir efni */
.grid {
  max-width: 1450px;
  margin-left: 20px;
  margin-right: 20px;
}

.grid__row {
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  margin-right: -10px;
}

.grid__col {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.reverse {
  flex-flow: column-reverse;
}

.col-12 {
  width: 100%;
}
.col-6 {
  width: 100%;
}
.col-3 {
  width: 25%;
}

/* grid fyrir cards */

.cards {
  display: flex;
  align-content: center;
}

.cards__row {
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  margin-right: -10px;
}

.cards__col {
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
}

/* layout fyrir card */

.card {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  overflow: hidden;

  border-bottom: 2px solid #aaa;
}

.card__title {
  margin-bottom: 20px;

  font-size: 1.375em;
  line-height: 1;
  word-break: break-word;
}

.card__content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card__text {
  font-size: 1em;
  line-height: 1.375em;
  overflow: auto;
  word-break: break-word;
}

.card__image {
  flex: 0 0 150px;
}

.card__img {
  max-width: 100%;
  max-height: 100%;
}

.card__tags {
  margin-top: 10px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  list-style: none;
}

.card__tag {
  font-weight: bold;
  margin-right: 10px;
}

@media (min-width: 700px) {

.cards__row {
  flex-flow: row wrap;
  padding-right: 20px;
  padding-left: 20px;
}

.cards__col {
  width: 50%;
}

.card {
  flex: 1;

  max-height: 300px;  

  border: 2px solid #aaa;
  border-radius: 5px;
}

.card__content {
  flex-direction: row;
}

}

@media (min-width: 1000px) {

.grid__row {
  flex-direction: row;
}

.col-6 {
  width: 50%;
}

.cards__col {
  width: 33.333333%;
}
  
}

@media (min-width: 1490px) {

.cards__row {
  padding-right: 0;
  padding-left: 0;
}

.grid {
  margin-left: 0;
  margin-right: 0;


}

}

  